@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
/* palette */
/* https://coolors.co/palette/151633-2a2c66-3f4299-696eff-f8acff-f0f1ff */

* {box-sizing: border-box}

html 
{
    scroll-behavior: smooth;
}

body
{
    background-color: #2A2C66; 
    font-family: 'Source Code Pro'; 
    text-align: center;
}

.navbar
{
    width: 100%;
    align-content: center;
    justify-content: space-evenly;
    overflow: auto;
}
  
.navbar a 
{
    float: left;
    text-align: center;
    font-family: 'Source Code Pro';
    display: block;
    color: #F0F1FF;
    text-decoration: none;
    width: 33.333%;
    font-size: 40pt;   
}

.about
{
    color: #F0F1FF;
    
}

.about a
{
    font-size: 80;
}

.navbar a:hover 
{
    color: #696EFF;
}
